- content_for(:body_class){"bg-black"}
.row{style: "margin-bottom: 2em"}
  - @cameras.each do |camera|
    .col-md-4.col-sm-6
      = image_tag(camera.preview_url, width: "100%", data: {camera_preview_url: camera.preview_url, camera_model: camera.model}) rescue nil

:coffeescript
  refreshImages = ->
    $("img[data-camera-model='fi9821wv2']").each ->
      $(this).load ->
        refreshImage(this)
      refreshImage(this)
  
  refreshImage = (img)->
    setTimeout ->
      console.log "Refreshing image"
      date = new Date()
      $(img).attr('src',  "\#{$(img).data('camera-preview-url')}&t=\#{date.getMilliseconds()}")
    , 2000
    
  refreshImages()