- content_for(:body_class){"bg-black"}
.row{style: "margin-bottom: 2em"}
  - @cameras.each_slice(3) do |cameras|
    .row
      - cameras.each do |camera|
        .col-md-4
          = image_tag(camera.preview_url, width: "100%", data: {camera_preview_url: camera.preview_url, camera_model: camera.model}) rescue nil

:coffeescript
  refreshImages = ->
    $("img[data-camera-model='fi9821wv2']").each ->
      $(this).load ->
        refreshImage(this)
      .error ->
        setTimeout =>
          refreshImage(this)
        , 5000
          
      refreshImage(this)
  
  refreshImage = (img)->
    setTimeout ->
      console.log "Refreshing image"
      date = new Date()
      $(img).attr('src',  "\#{$(img).data('camera-preview-url')}&t=\#{date.getMilliseconds()}")
    , 3000
    
  refreshImages()